aiohttp[speedups]
argcomplete
bs4
cssmin
feedparser
flask-admin
flask[async]
flask-assets
flask-bcrypt
flask-caching
flask-minify
flask-sqlalchemy
hypercorn==0.15.0
lxml==5.1.1
python-dateutil
python-dotenv
pyyaml
requests
unidecode
url-normalize
w3lib
