<div class="header_widthconstrain_widthConstrain">
  <div class="col-2 header_footer_desktop_logoRow">
    <a
      href="/"
      data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.LinkEvent"
      data-tracking-text="logo.label"
      aria-label="Home"
      class=""
      ><div class="logo_x_x header_logoicon_logo header_footer_desktop_logo">
        <span class="logo_x_spacer"></span
        ><img
          srcset="
            https://portal-static.imds-cdn.com/images/armstrong-gen4/logos/light_lg.png    1x,
            https://portal-static.imds-cdn.com/images/armstrong-gen4/logos/light_lg@2x.png 2x
          "
          src="https://portal-static.imds-cdn.com/images/armstrong-gen4/logos/light_lg.png"
        /></div
    ></a>
  </div>
  <div class="col header_footer_desktop_linkColumns">
    <ul>
      <li>
        <a
          href="https://account.armstrongonewire.com/"
          data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.Links.LinkEvent"
          data-tracking-text="My Account"
          aria-label="My Account"
          class=""
          target="_blank"
          rel="noopener noreferrer"
          ><span>My Account</span></a
        >
      </li>
      <li>
        <a
          href="http://armstrongonewire.com/support/default.aspx"
          data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.Links.LinkEvent"
          data-tracking-text="Support"
          aria-label="Support"
          class=""
          target="_blank"
          rel="noopener noreferrer"
          ><span>Support</span></a
        >
      </li>
      <li>
        <a
          href="http://armstrongonewire.com/"
          data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.Links.LinkEvent"
          data-tracking-text="Armstrongonewire.com"
          aria-label="Armstrongonewire.com"
          class=""
          target="_blank"
          rel="noopener noreferrer"
          ><span>Armstrongonewire.com</span></a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a
          href="/ad/about"
          data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.Links.LinkEvent"
          data-tracking-text="About Our Ads"
          aria-label="About Our Ads"
          class=""
          ><span>About Our Ads</span></a
        >
      </li>
      <li>
        <a
          href="https://account.armstrongonewire.com/Shopping/SelectUserType"
          data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.Links.LinkEvent"
          data-tracking-text="Shop Services"
          aria-label="Shop Services"
          class=""
          target="_blank"
          rel="noopener noreferrer"
          ><span>Shop Services</span></a
        >
      </li>
      <li>
        <a
          href="http://www.armstrongonewire.com/trendmicro"
          data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.Links.LinkEvent"
          data-tracking-text="Internet Security"
          aria-label="Internet Security"
          class=""
          target="_blank"
          rel="noopener noreferrer"
          ><span>Internet Security</span></a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a
          href="http://armstrongonewire.com/Contact/Index"
          data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.Links.LinkEvent"
          data-tracking-text="Contact Us"
          aria-label="Contact Us"
          class=""
          target="_blank"
          rel="noopener noreferrer"
          ><span>Contact Us</span></a
        >
      </li>
    </ul>
    <div class="header_footer_desktop_affiliateColumn"></div>
  </div>
  <div class="col"><hr class="header_footer_desktop_divider" /></div>
  <div class="col header_footer_desktop_bottomLinks">
    Copyright ©2024 Armstrong
    <ul>
      <li>
        <a
          href="/ccpa"
          data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.AltLinks.LinkEvent"
          data-tracking-text="footer.altLinks.donotsell"
          aria-label="Do Not Sell Or Share My Personal Information"
          class=""
          ><span>Do Not Sell Or Share My Personal Information</span></a
        >
      </li>
      <li>
        <a
          href="/privacy"
          data-tracking-component_path="VerticalPage.Armstrong Neighborhood.DesktopFooter.AltLinks.LinkEvent"
          data-tracking-text="footer.altLinks.privacy"
          aria-label="Privacy Policy"
          class=""
          ><span>Privacy Policy</span></a
        >
      </li>
    </ul>
  </div>
</div>
<style>
*,
::after,
::before {
  box-sizing: border-box;
}
.cube *,
.cube ::after,
.cube ::before {
  box-sizing: inherit;
}
.header_widthconstrain_widthConstrain {
  margin: 0px auto;
  max-width: 1268px;
  padding: 0px;
  position: relative;
  width: 100%;
}
.cube .col,
.cube .col-1,
.cube .col-10,
.cube .col-11,
.cube .col-12,
.cube .col-2,
.cube .col-3,
.cube .col-4,
.cube .col-5,
.cube .col-6,
.cube .col-7,
.cube .col-8,
.cube .col-9,
.cube .col-auto,
.cube .col-lg,
.cube .col-lg-1,
.cube .col-lg-10,
.cube .col-lg-11,
.cube .col-lg-12,
.cube .col-lg-2,
.cube .col-lg-3,
.cube .col-lg-4,
.cube .col-lg-5,
.cube .col-lg-6,
.cube .col-lg-7,
.cube .col-lg-8,
.cube .col-lg-9,
.cube .col-lg-auto,
.cube .col-md,
.cube .col-md-1,
.cube .col-md-10,
.cube .col-md-11,
.cube .col-md-12,
.cube .col-md-2,
.cube .col-md-3,
.cube .col-md-4,
.cube .col-md-5,
.cube .col-md-6,
.cube .col-md-7,
.cube .col-md-8,
.cube .col-md-9,
.cube .col-md-auto,
.cube .col-sm,
.cube .col-sm-1,
.cube .col-sm-10,
.cube .col-sm-11,
.cube .col-sm-12,
.cube .col-sm-2,
.cube .col-sm-3,
.cube .col-sm-4,
.cube .col-sm-5,
.cube .col-sm-6,
.cube .col-sm-7,
.cube .col-sm-8,
.cube .col-sm-9,
.cube .col-sm-auto,
.cube .col-xl,
.cube .col-xl-1,
.cube .col-xl-10,
.cube .col-xl-11,
.cube .col-xl-12,
.cube .col-xl-2,
.cube .col-xl-3,
.cube .col-xl-4,
.cube .col-xl-5,
.cube .col-xl-6,
.cube .col-xl-7,
.cube .col-xl-8,
.cube .col-xl-9,
.cube .col-xl-auto {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  width: 100%;
}
.cube .col-2 {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}
.header_footer_desktop_footer .header_footer_desktop_logoRow {
  position: relative;
}
a {
  background-color: transparent;
}
a {
  color: rgb(11, 116, 207);
  text-decoration: none;
}
a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
.header_footer_desktop_footer .header_footer_desktop_logo {
  margin-bottom: 15px;
  text-align: left;
}
.header_logoicon_logo {
  min-width: 100px;
}
.logo_x_x {
  height: 100%;
  text-align: center;
  width: 100%;
}
.logo_x_x .logo_x_spacer {
  height: 100%;
}
.logo_x_x .logo_x_spacer,
.logo_x_x img {
  display: inline-block;
  vertical-align: middle;
}
img {
  border-style: none;
}
img {
  vertical-align: middle;
}
.logo_x_x img {
  max-height: 100%;
  max-width: 100%;
}
.cube .col {
  flex-basis: 0px;
  flex-grow: 1;
  max-width: 100%;
}
.header_footer_desktop_footer .header_footer_desktop_linkColumns {
  display: flex;
  flex-direction: row;
}
.header_footer_desktop_footer .header_footer_desktop_linkColumns ul {
  list-style-position: inside;
  list-style-type: none;
  margin: 0px 127px 0px 0px;
  padding: 0px;
}
.header_footer_desktop_footer .header_footer_desktop_linkColumns ul li {
  flex: 0 1 auto;
  padding: 4px 0px;
  white-space: nowrap;
}
.header_footer_desktop_footer li > a {
  color: rgb(0, 0, 0);
}
.header_footer_desktop_footer li > a:active,
.header_footer_desktop_footer li > a:focus,
.header_footer_desktop_footer li > a:hover {
  color: rgb(11, 116, 207);
}
.header_footer_desktop_footer
  .header_footer_desktop_linkColumns
  .header_footer_desktop_affiliateColumn {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
}
hr {
  box-sizing: content-box;
  height: 0px;
  overflow: visible;
}
hr {
  border-width: 1px 0px 0px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-top-style: solid;
  border-top-color: rgb(238, 238, 238);
  margin-bottom: 20px;
  margin-top: 20px;
}
.header_footer_desktop_footer .header_footer_desktop_divider,
.header_footer_desktop_footer
  .header_footer_desktop_divider.header_footer_desktop_dark {
  border-top: 1px solid rgb(215, 215, 224);
}
.header_footer_desktop_footer .header_footer_desktop_bottomLinks {
  display: flex;
  flex-direction: row;
  font-weight: 400;
}
.header_footer_desktop_footer .header_footer_desktop_bottomLinks ul {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header_footer_desktop_footer .header_footer_desktop_bottomLinks ul li {
  flex: 0 1 auto;
  margin-left: 10px;
  white-space: nowrap;
}
.header_footer_desktop_footer
  .header_footer_desktop_bottomLinks
  ul
  li:not(:first-child)::before {
  content: "-";
  margin-right: 10px;
}

</style>