<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site_title }}</title>
	
	<meta name="description" content="{{ site_title }}">

	<meta property="og:title" content="{{ site_title }}">
	<meta property="og:type" content="{{ site_title }}">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:image:alt" content="{{ site_title }}">

	<script defer src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
	{% assets "css_all" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
</head>

<body>
	{% include('flash_message.html') %}
	<div class="container">
		<div class="row header">
			<div class="column">
				<script async src="https://cse.google.com/cse.js?cx=c406ad7432a6e4420">
				</script>
				<div class="gcse-search"></div>
			</div>
		</div>
		<div class="content">
			
		</div>
		<footer>
			<div>
				{{ site_title}}	&copy; {{ today_date.year }}
			</div>
		</footer>
	</div>
</body>
</html>